<div class="container-md">
	<div class="p-2 form-header">
		<form [formGroup]="myForm" class="container-fluid">
			<div class="p-1 row col">
				<div class="col row row-cols-1">
					<div class="p-2 col row align-items-center">
						<div class="form-cell-1 col-auto">
							<label for="id_select_location" class="form-label"><span class="h6">Locale</span></label>
						</div>
						<div class="form-cell-2 col-auto">
							<select name="location" id="id_select_location" class="form-control" [class.is-invalid]="localInvalid" formControlName="local">
								<option disabled>chose local...</option>
								<option *ngFor="let c of locals" [ngValue]="c.id">{{c.name}}</option>
							</select>
							<div class="invalid-feedback">
								Valid locale values ​​us | ru | ua
							</div>
						</div>
					</div>
					<div class="p-2 col row align-items-center">
						<div class="form-cell-1 col-auto">
							<label for="id_range_errors" class="form-label">
								<span class="h6">Number of errors</span>
							</label>
						</div>
						<div class="form-cell-2 col-auto">
							<input id="id_range_errors" type="number" name="errors" class="form-control" [class.is-invalid]="errorsInvalid" [(ngModel)]="_errors" min="0" max="1000" formControlName="errors" />
							<div class="invalid-feedback">
								The number of errors must be between 0 and 1000
							</div>
						</div>
						<div class="form-cell-3 col-auto">
							<input type="range" name="errors" class="form-control" min="0" max="10" step="0.25" [(ngModel)]="_errors" formControlName="errors" />
						</div>
					</div>
					<div class="p-2 col row align-items-center">
						<div class="form-cell-1 col-auto">
							<label for="id_range_seed" class="form-label">
								<span class="h6">Seed for generator</span>
							</label>
						</div>
						<div class="form-cell-2 col-auto">
							<input id="id_range_seed" type="number" name="seed" class="form-control" [class.is-invalid]="seedInvalid" formControlName="seed" />
							<div class="invalid-feedback">
								Seed must been only digits
							</div>
						</div>
						<div class="form-cell-3 col-auto row justify-content-start">
							<div class="col-auto">
								<a href="#" class="btn btn-info" (click)="onClickRandom($event)">
									<strong>random</strong>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-auto row justify-content-center align-items-center">
					<div class="col">
						<a href="#" class="p-5 btn btn-danger" (click)="onSubmit($event)"><strong>generate</strong></a>
					</div>
				</div>
			</div>
		</form>
		<div *ngIf="loading" class="h-loading container-fluid table-warning">
			<div class="row align-items-center">
				<div class="col-auto">
					<span class="h2">pleace wait</span><span class="h2">...</span>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid table">
		<div class="row justify-content-center text-center table-secondary h5">
			<div class="hcell p-3 col-sm-auto max-width-column-1"><strong>id</strong></div>
			<div class="hcell p-3 col-sm-auto max-width-column-2"><strong>uid</strong></div>
			<div class="hcell p-3 col-sm-auto max-width-column-3"><strong>full name</strong></div>
			<div class="hcell p-3 col-sm-auto max-width-column-4"><strong>address</strong></div>
			<div class="hcell p-3 col-sm-auto max-width-column-5"><strong>phone</strong></div>
		</div>
		
		<ng-template #scrollLoadingTemplate>
			<div class="row align-items-center justify-content-center table-warning" style="height: 60px;">
				<div class="col-auto">
					<span class="h2">pleace wait new generation</span><span class="h2">...</span>
				</div>
			</div>
		</ng-template>
		
		<infinite-scroll [anchorTemlate]="scrollLoadingTemplate" (scrolled)="genContent()">
			<div *ngFor="let entry of entries" class="row justify-content-center">
				<div class="cell col-sm-auto max-width-column-1">{{entry.id}}</div>
				<div class="cell col-sm-auto max-width-column-2">{{entry.uid}}</div>
				<div class="cell col-sm-auto max-width-column-3">{{entry.name}}</div>
				<div class="cell col-sm-auto max-width-column-4">{{entry.address}}</div>
				<div class="cell col-sm-auto max-width-column-5">{{entry.phone}}</div>
			</div>
		</infinite-scroll>
	</div>
	<div class="p-2 row justify-content-center">
		<div class="col-auto">
			<a class="btn btn-success btn-lg" href={{CSVLink}} download>
				<strong>export generation(seed: {{seed}}) page({{currentPage>1?'1-'+currentPage:1}}) to CSV</strong>
			</a>
		</div>
	</div>
</div>

<router-outlet></router-outlet>
